@model FitHub.Models.Membership

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Membership</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MD.MembershipTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MD.MembershipTypeName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StartDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EndDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountPaid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MD.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MD.Description)
        </dd>
       
    </dl>
</div>
<div>
    <a asp-action="Index">Click here to go Back</a>
</div>
