@model IEnumerable<FitHub.Models.Membership>


@{
    ViewData["Title"] = "Index";
}

<h1>Your active memberships</h1>

<style>
    .close {
        text-decoration: none;
        color: inherit;
        cursor: pointer;
    }
</style> 


@if (!string.IsNullOrEmpty(ViewBag.PaymentSuccessMessage))
{
    <div class="alert alert-success d-flex justify-content-between align-items-center alert-dismissible fade show" role="alert">
        <span>@ViewBag.PaymentSuccessMessage</span>
        <a class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </a>
    </div>
}

<p>
    <button class="btn btn-success" asp-controller="Memberships" asp-action="Create">Buy a new membership</button>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.MD.MembershipTypeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MD.MembershipTypeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MembershipID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>

@section scripts {
    <script>
        // Automatically close the alert after 5 seconds
        $(document).ready(function () {
            window.setTimeout(function () {
                $(".alert").fadeTo(500, 0).slideUp(500, function () {
                    $(this).remove();
                });
            }, 5000);
        });
    </script>
}