@model IEnumerable<FitHub.Models.Membership>

@{
    ViewData["Title"] = "Index";
}

<h1>Your active memberships</h1>

@if (!string.IsNullOrEmpty(ViewBag.PaymentSuccessMessage))
{
    <div class="alert alert-success">
        @ViewBag.PaymentSuccessMessage
    </div>
}

<p>
    <button class="btn btn-success" asp-controller="Memberships" asp-action="Create">Buy a new membership</button>
</p>
<table class="table table-striped">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MD)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MD.MembershipTypeID)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.MembershipID">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
